# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json

# Compiled artifacts
*.obj
*.pdb
*.ilk
*.exe
*.lib
*.dll
*.exp
*.ipdb
*.iobj

# IDE
*.vcxproj.filters
*.vcxproj.user
Debug/
Release/
x64/
Win32/
